body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
}

.navbar {
    margin-bottom: 20px;
}

h2 {
    color: #e24f26;
}

.btn {
    width: 100%;
    margin-top: 10px;
}
/* .btn:hover{
    background-color: whitesmoke;
    color: greenyellow;
    border: 2px solid greenyellow;
    transition: all ease-in-out .3s;
} */

#buttonPredict {
    background-color: rgb(101, 176, 101); 
    width : 40%; 
    margin-left: 28%;
}

#buttonPredict:hover {
    background-color: whitesmoke;
    color: greenyellow;
    border: 2px solid greenyellow;
    transition: all ease-in-out .3s;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
